.top{
    background-color:#00ADB5;
    text-align: center;
}
h1{
    margin: 0 auto;
    width: 10%;
    font-family: 'Lemonada', cursive;
}
body{
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}
.mid{
    background-color: blue;
    width: 200px;
    height: 200px;
}
.bot{
    background-color: red;
    width: 200px;
    height: 200px;
}
.kid{
    text-decoration: underline;
}
.bottom{
    position: absolute;
}
.p{
    font-family: 'Tomorrow', sans-serif;
}