.top{
    background-color:#00ADB5;
    text-align: center;
}
h1{
    margin: 0 auto;
    width: 10%;
    font-family: 'Lemonada', cursive;
    color: #66bfbf;
}
body{
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
}
.mid{
    
}
.bot{
    
}
.kid{
    text-decoration: underline;
}
.bottom{
    position: absolute;
}
.p{
    font-family: 'Tomorrow', sans-serif;
}
.topc{
    position: absolute;
    right: 300px;
    top: 50px;
}
.botc{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
h3{
    color: #3282b2;
}
h2{
    color: #3282b2;
}